<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>    
    <script src="https://unpkg.com/bootstrap"></script>
</head>
<body>
    <div class="navbar-container">
        <nav>

            <a href="/">Home</a>
            {% if current_user.is_authenticated == False %}
                <!-- if not logged in -->
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
            
            {% if current_user.is_authenticated %}
                <!-- if logged in -->
                <a href="/users/profile/{{ current_user.id }}">Profile</a>
                <a href="/sounds/upload">Upload</a>
                <a href="/logout">Logout</a>
            {% endif %}
           
        </nav>

    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>