{% extends 'base.html' %}

{% block title %} Detail Page {% endblock %}



{% block content %}

<span> {{ sound.name }}</span>

<div class="container">

    <div class='audio-control'>
        <audio controls>
         <source src={{ sound_data}} type="audio/wav">
         <source src={{ sound_data }} type="audio/mpeg">
        </audio>
      </div>

      <div>{{ sound.genre }}</div>

      <div> {{ sound.bpm }} </div>
      
      <div> {{ sound.sound_type }}</div>

    
      <div>
          <p>
            {{ sound.description}} 
          </p>     
      </div>
</div>

<a href='/users/profile/{{ user.id }}'>Go Back</a>

{% endblock %}