{% extends 'base.html' %}

{% block title %} Detail Page {% endblock %}



{% block content %}
<div class="container"> 
  <div class="d-grid gap-2 col-xl-8 mx-auto">
   
  <h5 class="card-title mt-4 text-muted">{{ sound.sound_name }}</h5>

  <!-- The source for the audio is a flask route that serves the binary data back as audio to be played by the controls -->
  <div class='audio-control mb-3'>
      <audio controls>
        
       <source src="/sounds/details/{{ sound.id }}/play" type="audio/wav">
       <source src="/sounds/details/{{ sound.id }}/play" type="audio/mpeg">
      </audio>
  </div>

  <div class="row align-items-center justify-content-left">
  <div class="col-xl-6 col-xl-8">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-white bg-dark">{{ sound.genre }}</li>
          <li class="list-group-item text-white bg-dark">{{ sound.bpm }}</li>
          <li class="list-group-item text-white bg-dark">{{ sound.sound_type }}</li>
        </ul>
          <p>
            {{ sound.description}} 
          </p>    
        </div>
      </div>
    </div>
  </div> 
  <a href='/users/profile/{{ user.id }}' class="btn btn-secondary col-xl-8">Go Back</a>    
</div>    
</div>



{% endblock %}



  