{% extends 'base.html' %}

{% block title %} Display User Sounds Page {% endblock %}



{% block content %}
<div class="container">
<table style="height: 100px;">   
    <tbody>
        <tr>   
            {% for upload in uploads.items %}
                {% if upload.user_id == user.id %}
                    <td class="align-middle"> {{ upload.sound.sound_name}} </td>
                    <td class="align-middle"> <a href="/sounds/detail/{{ upload.sound_id }}">View Details</a></td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
<!-- this is used to iterate through the pages and display a link for each at the bottom -->
    {% for page in uploads.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
        {% if page %}
             <a href="/users/profile/{{ user.id }}/sounds/{{ page }}"> {{ page }}</a>
        {% else %}
            <span>…</span>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}