{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}



{% block content %}
<div class="container-fluid">
<h1>
    Welcome to 
    <small class="text-muted"> Sample Seeker</small>
  </h1>
  <blockquote class="blockquote">
    <p>A sound organization tool for your sample library</p>
  </blockquote>
  <div class="class=text-center">
    <div class="btn-group-vertical">
        <a href='/register' class="btn btn-dark"> New? Register here!</a>  
        <a href='/login' class="btn btn-dark"> Returning? Login here!</a>
    </div> 
  </div>     
</div>
{% endblock %}
