{% extends 'base.html' %}

{% block title %} login {% endblock %}

{% block content %}

  <div>
      <div><h2>Welcome back!</h2> </div>
      
    <div class=form-div>
        <form method="POST">
            {{ form.hidden_tag() }} 
      
            {% for field in form
                if field.widget.input_type != 'hidden' %}
      
            <p>
                {{ field.label }}
                {{ field }}
      
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
    
            <button type="submit">Login</button>
        </form>
    </div> 
  </div>

{% endblock %}