{% extends 'base.html' %}

{% block title %} Profile Page {% endblock %}



{% block content %}
<h3>
  Hi there! 
  <small class="text-muted">{{ user.username }}</small>
</h3>

<br>

<div class="container">
  <div class="justify-content-end">
     <p class="lead">What would you like to do today?</p>
   </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Upload</h5>
            <a href="/sounds/upload" class="btn btn-dark" >Upload new sounds</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Checkout</h5>
            <a href="/users/profile/{{ user.id }}/sounds/1" class="btn btn-secondary">Checkout your sounds</a>
          </div>
        </div>
      </div>
{% endblock %}

